<header class="header">
  <div class="col-left">
    <div class="header__logo-box">
      <div class="header__logo">
        <h1 class="heading--primary">Logo</h1>
      </div>
    </div>
  </div>
  <div class="col-right">
    <div class="row-top">
      <!----------------------menubar---------------------->
      <div class="icon icon-menu">
        {% include 'icon-menu' %}
      </div>

      <!-------------------------end------------------------>
      <div class="icon__collection">
        <div class="icon icon-cheveron-down">
          <span class="currency">USD</span>
          {% include 'icon-cheveron-down' %}
        </div>
        <div class="icon icon-search">
          {% include 'icon-search' %}
        </div>
        <div class="icon icon-user">
          {% include 'icon-user' %}
        </div>
        <div class="icon icon-shopping-cart">
          {% include 'icon-shopping-cart' %}
          <span class="items-count">99</span>
        </div>
      </div>
    </div>
    <div class="row-bottom">
      <div class="search">
        <form action="/search" class="search__form">
          <input
            type="text"
            class="search__input"
            id="search"
            placeholder="Search"
            name="q"
            value = {{ search.terms | escape }}
          />
          <button class="search__button">
            <div class="icon icon-search">
              {% include 'icon-search' %}
            </div>
          </button>
        </form>
      </div>
      <div class="icon-box">
        <div class="icon icon-close-outline">
          {% include 'icon-close-outline' %}
        </div>
      </div>
    </div>
  </div>
</header>
