<nav class="nav">
  {% include 'menu' %}
</nav>

{% schema %}
{
  "name": "menu",
  "max_blocks": 3,
  "settings": [
    {

      "type":"link_list",
      "id":"mainmenu",
      "label": "Main menu",
       "default": "main-menu"
    }
  ],
  "blocks": [
        {
        "name": "menu_block",
        "type": "link_list",
        "settings": [
          {
            "type": "text",
            "id": "imgText",
            "label": "Submenu for",
            "placeholder": "example: men"
          },
          {
            "type": "link_list",
            "id": "submenu",
            "label": "Submenu"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Menu Image"
          },
          {
            "type": "url",
            "id": "imgLink",
            "label": "Link"
          }
      ]
    }
  ]
}

{% endschema %}
