<nav class="nav">
  <div class="menu">
    <ul class="menu__items">
      {% for link in linklists[section.settings.mainMenu].links -%} {%- if
      link.title == "Home" -%}

      <li class="menu__list menu--active">
        <a href="{{ link.url }}" class="menu__link">{{ link.title }}</a>
      </li>
      {%- else -%}

      <li class="menu__list menu--kid">
        <a href="{{ link.url }}" class="menu__link menu--dropdown">{{
          link.title
        }}</a>
      </li>

      {%- endif -%} {%- endfor -%}
    </ul>
  </div>
  <!---------------submenu--------------------->

  <!----------------end-submenu-women------------------------->
</nav>

{% schema %} { "name": "Main Menu", "settings": [ { "type":"link_list",
"id":"mainMenu", "label": "Main menu", "default": "main-menu" }, {
"type":"link_list", "id":"kidSubMenu", "label": "Kid Submenu" }, {
"type":"link_list", "id":"menSubMenu", "label": "Men Submenu" }, {
"type":"link_list", "id":"womenSubMenu", "label": "Women Submenu" } ] } {%
endschema %}
